.contentContainer {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 1em;
	align-items: center;
	justify-content: center;
	padding: 2em 3em;
	width: 70%;
	margin: 0 auto;
}

.loaderContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1em;
}

.loader {
	font-size: 100px;
	opacity: 0.5;
}

.loaderText {
	font-size: 20px;
	font-weight: 600;
	opacity: 0.5;
}

.loaderMoreContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 1em;
	padding: 1em;
	width: -webkit-fill-available;
	background-color: #13acd7;
	color: white;
	font-size: 16px;
}

.endOfDataContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 1em;
	padding: 1em;
	width: -webkit-fill-available;
	background-color: #fff;
	color: white;
	font-size: 16px;
}

.endOfDataText {
	font-size: 16px;
	font-weight: 600;
	opacity: 0.5;
	color: #000;
}

.endOfDataButton {
	background-color: #13acd7;
	color: white;
	font-size: 16px;
	font-weight: 600;
	padding: 0.5em 1em;
	border-radius: 10px;
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.3s all ease-in-out;
}

.endOfDataButton:hover {
	background-color: #0e8fb1;
}

.menuContainer {
	position: fixed;
	top: calc(74px + 1em);
	right: 1em;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	gap: 1em;
}

.menuItem {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5em 1em;
	border-radius: 8px;
	border: 2px solid #13acd7;
	color: #13acd7;
	cursor: pointer;
	gap: 0.5em;
	transition: 0.3s all ease-in-out;
}

.menuItem:hover {
	background-color: #13acd7;
	color: white;
}

.filterContainer {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
	gap: 1em;
	padding: 1em 0;
}

.filterButtonActive {
	border: 1px solid #1677ff;
	color: white;
	background-color: #1677ff;
	cursor: pointer;
}

.filterButton {
	border: 1px solid #1677ff;
	color: #1677ff;
	background-color: white;
	cursor: pointer;
	transition: 0.3s all ease-in-out;
}

.filterButton:hover {
	background-color: #1677ff;
	color: white;
}

.filterButtonReset {
	border: 1px solid #ff1639;
	color: #ff1639;
	background-color: white;
	cursor: pointer;
	transition: 0.3s all ease-in-out;
}

.filterButtonReset:hover {
	background-color: #ff1639;
	color: white;
}

.filterButtonResetActive {
	border: 1px solid #ff1639;
	color: white;
	background-color: #ff1639;
	cursor: pointer;
}
